.btn-color {
  background-color: #0a91ab;
  color: white;
}

.btn-color:hover {
  background-color: #1d2f40;
  color: white;
}

.table-group-divider {
  border-top-color: #0a91ab;
}

.btn-info {
  color: white;
}
