<div class="container vh-100">
  <div class="row justify-content-center h-100">
    <div class="card col-md-4 my-auto shadow">
      <div class="card-body px-5">
        <div class="text-center"></div>
        <div class="text-center">
          <h2>Welcome</h2>
        </div>
        <p style="color: lightslategray; text-align: center">
          Please enter your login details
        </p>
        <!-- [formGroup]="loginForm" (ngSubmit)="onSubmit()" -->
        <form [formGroup]="form">
          <div class="form-group mb-2">
            <input
              type="email"
              [(ngModel)]="email"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              name="name"
              placeholder="Email"
            />
          </div>
          <div class="form-group mb-4">
            <input
              type="password"
              [(ngModel)]="password"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Password"
              class="form-control"
              name="password"
            />
          </div>
          <input
            type="button"
            class="btn btn-primary w-100 mb-3"
            (click)="login()"
            value="Login"
            name=""
          />
          <a href="" class="btn btn-primary w-100">Register</a>
        </form>
      </div>
      <div class="card-footer">
        <small><a routerLink="/forgotPassword">Forgot Password</a></small>
      </div>
    </div>
  </div>
</div>
