<div class="col-md-12">
  <h1 class="text-center">Epic CRUD Operation</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="list-group">
        <a
          [hidden]="admin"
          routerLink="dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="list-group-item"
          >Dashboard</a
        >

        <a
          [hidden]="admin"
          routerLink="employee"
          routerLinkActive="active"
          class="list-group-item"
          >Employee</a
        >

        <a
          [hidden]="admin"
          routerLink="adminPanel"
          routerLinkActive="active"
          class="list-group-item"
          >Admin Panel</a
        >
      </ul>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <h1>Welcome Dashboard</h1> -->
