h1 {
  color: white;
  background-color: #1d2f40;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.list-group li {
  cursor: pointer;
  list-style: none;
}

.active {
  background-color: #0a91ab;
}
